# react-native
node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# python
__pycache__
venv

# macOS
.DS_Store

# environment variables
.env
.env.development.local

# misc
.idea
*.png
/data/gensim-data/*
/data/saved_models/*
